[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_shotgun_extension
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Shotgun
Comment=Shotgun Menu
